<div style="border:2px solid {{color}};padding:10px;border-radius:10px">
  <div style="float:left;padding:10px;">
    {{{svg}}}
  </div>
  <div>
    {{#title}}
      <h6 style="margin:0 0 5px 5px;color:#000;">{{title}}</h6>
    {{/title}}
    {{{text}}}
  </div>
</div>
